<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
<form method="post">
    登录名<input type="text" name="name">
    密码<input type="password" name="password">
    <button type="submit" class='btn btn-success'><%=user[1].name%></button>
</form>
</body>
</html>